---
layout: page
description: Development Blog
---
{% assign description = "taco" %}
Articles labelled <i>{{ page.tag }}</i>
<div>
    {% if site.tags[page.tag] %}
        {% for post in site.tags[page.tag] %}
		<div class="post-preview">
		    <a href="{{ post.url | prepend: site.baseurl }}">
		        <h2 class="post-title">
		            {{ post.title }}
		        </h2>
		        {% if post.subtitle %}
		        <h4 class="post-subtitle">
		            {{ post.subtitle }}
		        </h4>
		        {% endif %}
		    </a>
		    <p class="post-meta">Posted {% if post.author %}by {{ post.author }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
		</div>
		<hr>
        {% endfor %}
    {% else %}
        <p>There are no posts for this tag.</p>
    {% endif %}
</div>